<div *ngIf="showJoinAgain">
  <button class="btn btn-primary" (click)="joinAgain()">Join Again</button>


</div>

<form [formGroup]="connectionForm" *ngIf="!showJoinAgain">


  <div class="mb-3">


    <textarea class="form-control" rows="5" formControlName="offer"></textarea>


  </div>

  <div class="mb-3">


    <button class="btn btn-primary" (click)="onAcceptOffer()">Accept Offer</button>


  </div>

  <div *ngIf="canShowCreateAnswer">
    <div class="mb-3">
      <button class="btn btn-primary pull-right" (click)="createAnswer()">Create Answer</button>
    </div>
    <div class="mb-3">

      <textarea class="form-control" rows="5" formControlName="answer" readonly="true"></textarea>

    </div>
  </div>

  <app-transfer-container *ngIf="connection"></app-transfer-container>


</form>

