
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="WebRtc Logo"
    src="http://www.w3.org/2017/Talks/tpac-slides/tpac2017-jeff/Pictures/webrtc.png"
  />
  <span>Webrtc Manual Connection Angular Demo</span>
  <div class="spacer"></div>

<!--  <div class="topnav"  >-->

<!--      <a    *ngFor="let link of links$ | async"  [routerLink]="link.path" routerLinkActive="active"    [routerLinkActiveOptions]="{ exact: true }"  >{{link.label}}</a>-->


<!--  </div>-->
  <div class="dropdown">
    <button class="dropbtn">Video</button>
    <div class="dropdown-content">
      <a routerLink="/connect/videocall">Connect</a>
      <a routerLink="/join/videocall">Join</a>

    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Text</button>
    <div class="dropdown-content">
      <a routerLink="/connect/text">Connect</a>
      <a routerLink="/join/text">Join</a>

    </div>
  </div>

<div style="width: 5vw">&nbsp;</div>
</div>
