
<div (cdkDragEnded)="onMovementChanged($event)" cdkDragBoundary=".whiteboard" cdkDrag style="width: fit-content;height: fit-content;" [cdkDragFreeDragPosition]="position">
  <div class="drag-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <div class="rotate-1 lazur-bg sticky-card" >

    <small>12:03:28 12-04-2014</small>
    <h4 contenteditable="true"  (input)="onTitleChange($event.target.innerHTML)">   {{data.title}}</h4>
    <p contenteditable="true"  (input)="onValueChange($event.target.innerHTML)" > {{data.description}}  </p>
  </div>

</div>

